[Unit]
Description=Restore display brightness level after resume.
After=sleep.target

[Service]
User=aesophor
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/bin/bash -c "/usr/bin/sleep 5 && ~/.local/bin/scripts/displayctl"

[Install]
WantedBy=sleep.target

